*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --p-light: #ddd2ef;
    --p-base: #9359f3;
    --p-dark: #6f3cc3;
    --g-light: #bfe3d0;
    --g-base: #479c6e;
    --g-dark: #2d6c4a;
    --gray-100: #f0edf2;
    --gray-200: #e5e2e9;
    --gray-330: #e0dce4;
    --gray-400: #d1cbd7;
    --danger: #c2464d;
    --input: 400 16px/140%;
    --button: 700 14px/140%;
    --subtitle: 600 14px/120%;
    --tag: 700 12px/120%;
    --text-md: 400 14px/140%;
    --input: 400 14px/140%;
    --input: 400 12px/140%;
    --input: 400 12px/140%;
  }